
#loop{
	position:absolute;
	width:200px;
	height:200px;
	z-index:1;
	color:blue;
	background color: orange;
}
#banner{
	position:absolute;
	width:200px;
	height:200px;
	left:200px;
	z-index:1;
	color:green;
	background color: yellow;
}
* CSS Document */

