#logo
{
position:absolute;
width:200px;
height:200px;
z-index:1;
color:blue;
background-color:white;
}
#banner
{
position:absolute;
width:800px;
height:200px;
left:200px;
z-index:1;
color:black;
font-size:50px;
text-align:center;
text-shadow:2px 2px;
background-image:url(banner.jpg);
}
#navigation
{
position:absolute;
width:200px;
height:500px;
top:200px;
z-index:1;
color:lightgreen;
background-color:green;
}
#main
{
position:absolute;
width:800px;
height:500px;
top:200px;
left:200px;
z-index:1;
color:blue;
background-color:pink;
}
#footer
{
position:absolute;
width:1000px;
height:100px;
top:700px;
z-index:1;
color:blue;
background-color:yellow;
}
li,a
{
display:block;
}
